<div class="mt-4">
    <div class="row">
        {{#with product}}
        <div class="col-lg-3">
            <button>Book ngay</button>
        </div>
        <div class="col-lg-9">
            <h2>{{name}}</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{videoId}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>{{description}}</p>
        </div>
        {{/with}}
    </div>
</div>